In [30]:
import pymysql
import traceback 
from datetime import datetime
import pandas as pd

conn = pymysql.connect(
    host='localhost',
    user='root',
    password="password321",
    database='zenith_restaurant'
)

try:
    df = get_item_sales(conn)
    display(df)
except Exception as e:
    print(f"Error: {e}")
    print(traceback.format_exc())
finally:
    conn.close()

C:\Users\brian\AppData\Local\Temp\ipykernel_26032\684339095.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql2, conn,  params=(start_date, end_date))

                                    item_name  count
0                         bbq seitan sandwich     26
1       lemon pancakes with blueberry topping     24
2  almond french toast with blueberry topping     16
3                     tex mex stuffed peppers     16
4            chickpea mock egg salad sandwich     14
5                       scrambled actual eggs     12
6                                   no entree      3

In [29]:
def get_item_sales(conn, start_date='2024-10-13', 
                   end_date=datetime.today().strftime('%Y-%m-%d')):
    sql2 = '''       
        SELECT item_name, COUNT(order_id) as count
        FROM items_menus_view
        WHERE item_category != 'REQUEST' AND menu_date BETWEEN %s and %s
        GROUP BY item_name 
        ORDER BY count DESC
    '''
    df = pd.read_sql(sql2, conn,  params=(start_date, end_date))
    return df

In [18]:
x = None
if x is not None:
    print('insert')
else:
    print('dont insert just access')

dont insert just access

We use Bradleyâ€“Terry model for most popular item.