### HELLO IT IS WORKING! ###

In [35]:
import xml.etree.ElementTree as ET

tree = ET.parse('test_checks.xml')
root = tree.getroot()

menu_date = root.get('date')

for child in root:
    orders = child.find('orders')
    for ord in orders:
        qty = ord.get('qty') 
        qty = int(qty) if qty else 1 
        print(ord.text)

stuffed peppers
bean wrap
stuffed peppers
bean wrap

In [11]:
import pymysql

conn = pymysql.connect(
        host='localhost',
        user='root',
        password="password321",
        database='zenith_restaurant'
)

try:
    with conn.cursor() as cur:
        cur.execute("INSERT INTO menus (menu_date) VALUES (%s)", ("2024-12-03",))
        cur.execute("SELECT LAST_INSERT_ID()")
        print(cur.fetchone()[0])
        conn.commit()
finally:
    conn.close()

IntegrityError: (1062, "Duplicate entry '2024-11-03' for key 'menus.menu_date'")